
.main-container{
    /*border: 2px solid #7386D5;*/
    height: 500px;

}
.small-container {
    /*border: 2px solid;*/
    /*border-color: black;*/
    height: 250px;
}
/*Responsive code*/

@media (min-width: 576px) {
    .banner{
        height: 200px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .banner{
        height: 300px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .banner{
        height: 400px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}